body.girlpath1ba {
  background: url("../assets/images/horror.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: brightness(1) contrast(1.2);
}

body.girlpath3a {
  background: url("../assets/images/horror.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: brightness(1) contrast(1.2);
}

body.girlpath3 {
  background: url("../assets/images/horror.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: brightness(1) contrast(1.2);
}

body.girlpath3aa {
  background: url("../assets/images/horror.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: brightness(1) contrast(1.2);
}

body.girlpath3b {
  background: url("../assets/images/horror.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: brightness(1) contrast(1.2);
}

body.girlpath3ba {
  background: url("../assets/images/horror.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: brightness(1) contrast(1.2);
}

body.girlpath3bb {
  background: url("../assets/images/horror.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: brightness(1) contrast(1.2);
}

body.girlpathrizzending {
  background: url("../assets/images/horror.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: brightness(1) contrast(1.2);
}

body.girlpathbadending {
  background: url("../assets/images/horror.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: brightness(1) contrast(1.2);
}
.inverted {
  filter: invert(1);
}
