body.girlpath2 {
  background: url("./assets/images/horror.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: brightness(1) contrast(1.2); /* Added invert filter */
}

.inverted {
  filter: invert(1);
}